In [1]:
import pandas as pd
import ast
import datetime
pd.set_option('display.max_row', 1000)
data = pd.read_csv("/Users/l.sergeev/Downloads/5330631.customEvents.4425920b08de9c12e6b6631f09efdae1.0.csv")

In [2]:
new_version_users = data.loc[data.idAppVersionTitle.str.contains("5.1")].reset_index(drop=True)
new_version_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3848668 entries, 0 to 3848667
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   dtEvent            object
 1   countCustomEvent   int64
 2   idAppVersionTitle  object
 3   customUserId       object
 4   eventName          object
 5   params.name        object
 6   params.value       object
dtypes: int64(1), object(6)
memory usage: 205.5+ MB

In [3]:
new_version_users.idAppVersionTitle.unique()

array(['5.1.95', '5.1.79', '5.15', '5.1.75', '5.1.93', '5.1.62', '5.1.77',
       '5.1.91', '5.1.71', '5.1.87', '5.1.73', '5.1.67', '5.1.89',
       '5.1.81', '5.1', '5.17', '5.1.92', '5.19', '5.1.85', '5.1.90',
       '3.9.3531'], dtype=object)

In [4]:
grouped = new_version_users.groupby(['dtEvent'])['countCustomEvent'].count().reset_index()
grouped

       dtEvent  countCustomEvent
0   2021-04-10            137106
1   2021-04-11            124075
2   2021-04-12            126377
3   2021-04-13            123504
4   2021-04-14            121008
5   2021-04-15            125626
6   2021-04-16            134470
7   2021-04-17            133420
8   2021-04-18            121009
9   2021-04-19            117865
10  2021-04-20            118307
11  2021-04-21            117423
12  2021-04-22            119352
13  2021-04-23            128821
14  2021-04-24            127672
15  2021-04-25            113019
16  2021-04-26            118592
17  2021-04-27            119554
18  2021-04-28            124814
19  2021-04-29            129370
20  2021-04-30            144491
21  2021-05-01            140381
22  2021-05-02            123138
23  2021-05-03            117350
24  2021-05-04            117394
25  2021-05-05            118174
26  2021-05-06            119427
27  2021-05-07            124023
28  2021-05-08            120366
29  2021-05-09            111641
30  2021-05-10            107906
31  2021-05-11             22993